Repository sunabak0/akiyadego-kotlin, pull requests merged in 2022-12, with the labels that each got.

#63 build: openapi generator の導入
  build.gradle.kts
  src/main/kotlin/dev/sunabak0/akiyadego/presentation/ApplicationController.kt
Labels: src/main, presentation

#80 feat: openAPI で GET / を実装
  build.gradle.kts
  src/main/kotlin/dev/sunabak0/akiyadego/presentation/ApplicationController.kt
  src/test/kotlin/dev/sunabak0/akiyadego/api/integration/ApplicationTest.kt
Labels: src/main, src/test, presentation

#98 chore: 議事録の issue template を作成
  .github/ISSUE_TEMPLATE/minutes.md
Labels: 議事録
